body {
  font-family: arial, sans serif;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  background: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #ff6bd6;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  font-size: 16px;
}

h1 {
  color: #00eaff;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #ff6bd6;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.weather-temperature .active {
  text-decoration: none;
  color: #ff6bd6;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  color: #ff6bd6;
  margin-top: 20px;
}
.weather-forecast img {
  display: block;
  margin: 0auto;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.units {
  color: #00eaff;
}
